/**********************************************************
	GENERAL UI ELEMENTS
**********************************************************/


* {
	margin:0;
	padding:0;
} /* Remove default padding and margins for all elements */
img {
	border:none;
} /* Remove default borders for images */
body {
	overflow-x:hidden;
	-webkit-text-size-adjust:none;
	font-family:Arial, Helvetica, sans-serif;
	color:#786f78;
	font-size:14px;
	background:url(images/main-bg.jpg) !important;
	background-origin:content;
	background-position:50%50%;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} /* General styles that apply to elements not contained within other classes and styles */
#jQui_modal {
	-webkit-backface-visibility: hidden;
	z-index:9999 !important;
	width:100%;
	height:100%;
	display:none;
	position:absolute;
	top:0px;
	overflow:hidden;
	background:rgba(29, 29, 28, 1) !important;
	-webkit-perspective: 1000;
}
#modalContainer {
	width:100%;
}
#modalContainer > * {
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
.horzRule {
	position:relative;
	display:block;
	background-image:-webkit-gradient(linear, left top, right top, from(rgba(61, 61, 61, 1)), to(rgba(61, 61, 61, 1)), color-stop(.3, #999), color-stop(.7, #999));
	width:100%;
	height:1px;
} /* Horizontal line. */
.jqmScrollbar {
	background:white !important;
} /* Sets the color of the scrollbar */
.jqmScrollPanel {
	width:100%;
	min-height:100%;
}
.panel {
	z-index:180;
	width:100%;
	height:100%;
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	overflow-y:auto;
	overflow-x:hidden;
	-webkit-overflow-scrolling:touch;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
} /* This class is applied to the divs that contain the various "views" or pages of the app. */
.panel > * {
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
/**********************************************************
	TOOL BAR
**********************************************************/
/* Tool bar appears locked to the bottom of the screen. It is the primary navigation. can contain text or graphical navigation */
#navbar {
	position:absolute;
	bottom:0px;
	z-index:1000;
	text-align:center;
	left:0px;
	right:0px;
	height:62px;
	padding:0px 1px;
	background-color:#ffc603;
	-webkit-box-shadow:0px 0px 24px rgba(0, 0, 0, 0.8);
	box-shadow:0px 0px 24px rgba(0, 0, 0, 0.8);
}
#navbar a {
	height:60px;
	overflow:hidden;
	display:inline-block;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
	color:#a7a7a7;
	text-align:center;
	text-shadow:rgba(10, 12, 20, .9) 0px -1px 1px;
	margin: 0px auto;
	width:62px;
	line-height:100px;
	position:relative;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
#navbar a:active, #navbar a:focus, #navbar a:active:focus, #navbar .selected {
	display:inline-block;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#fff !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(.5, #000), color-stop(.5, rgba(15, 22, 29, 1)));
}


/* CUSTOM NAVBAR */

#navbar a:not(:last-of-type) {
 border-right:1px solid rgba(80, 80, 80, .5);
}
#navbar .icon:before {
	line-height:62px;
	text-align:center;
	position:absolute;
	top:-10px;
	left:10px;
	font-size:48px;
}
.jq-badge {
	display:-webkit-box;
	-webkit-box-direction:reverse;
	position:absolute;
	font-size:10px;
	border:2px solid white;
	color:white;
	background:red;
	line-height:12px;
	border-radius:10px;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width:20px;
	max-width:90%;
	height:20px;
	margin:2px;
	padding: 1px 4px 1px 4px;
	top:2px;
	right:2px;
	text-align:center;
	z-index:100;
}
.jq-badge.br {
	bottom:2px;
	right:2px;
	top:auto;
	left:auto;
}
.jq-badge.bl {
	-webkit-box-direction:normal !important;
	bottom:2px;
	left:2px;
	top:auto;
	right:auto;
}
.jq-badge.tl {
	-webkit-box-direction:normal !important;
	top:2px;
	left:2px;
	right:auto;
	bottom:auto;
}
/* Custom footers - always hidden */
#jQUi footer, #jQUi header, #jQUi nav {
	display:none;
}
/* Show the active header/footer/navs */
#jQUi #navbar footer, #jQUi #menu nav, #jQUi #header header {
	display:block;
}
#jQUi > #menu {
	z-index:1;
	width:200px;
	bottom:0px;
	height:100%;
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	background:rgba(29, 29, 28, 1);
}
#menu_scroller {
	padding-bottom:10px;
	-webkit-backface-visibility: hidden;
	overflow-y:auto;
	overflow-x:hidden;
	-webkit-overflow-scrolling:touch;
}
#menu > * {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.jqMenuHeader {
	position:relative;
	text-align:center;
	margin-top:2px;
	font-size:24px;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
	margin-bottom:3px;
	z-index:1;
}
.jqMenuClose {
	position:relative;
	z-index:2;
	float:right;
}
#menu .title {
	font-size:16px;
	border-bottom:2px solid #333;
	margin-bottom:3px;
	font-weight:bold;
}
#menu ul {
	margin:0px;
	padding:0px;
	margin-bottom:5px;
}
#menu ul > li {
	padding-left:10px;
	display:block;
	width:100%;
	height:28px;
	list-style:none;
	background:inherit;
} /* A plain, non-interactive list item--best suited to a heading. */
#menu ul > li > a {
	display:block;
	width:100%;
	height:28px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:14px;
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	line-height:28px;
	text-decoration:none;
	border-bottom:none;
	color:#fff;
	background:#333;
}
#menu ul > li > a:after {
	content:"";
}
#menu ul > li:last-child > a {
	border-bottom:1px solid black;
}
/* End side menu css */

.splashscreen {
	background:rgba(29, 29, 28, 1) !important;
	padding-left:40px;
	padding-top:30px !important;
	min-height:100%;
}
h2 {
	display:block;
	width:100%;
	height:34px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:18px;
	line-height:34px;
	padding: 0px 8px 0px 8px;
	color:#fff;
	text-shadow:rgba(0, 0, 0, .9) 0px -1px 1px;
	background:#39424b;
} /* Header class used for non-navigable header bars (h1 is reserved for the header) */
.collapsed:after {
	float:right;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #fff;
	display:block;
	position:absolute;
	top:16px;
	right:13px;
}
.collapsed:before {
	float:right;
	content:'';
	color:transparent;
	background:transparent;
	width:14px;
	height:14px;
	display:block;
	border:2px solid white;
	border-radius:3px;
	position:absolute;
	top:9px;
	right:9px;
}
.expanded:after {
	float:right;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 6px solid #fff;
	display:block;
	position:absolute;
	top:14px;
	right:13px;
}
.expanded:before {
	float:right;
	content:'';
	color:transparent;
	background:transparent;
	width:14px;
	height:14px;
	display:block;
	border:2px solid white;
	border-radius:3px;
	position:absolute;
	top:9px;
	right:9px;
}
/**********************************************************
	UI

/*=====================================================================================================*/

#jQUi {
	position:absolute;
	width:100%;
	top:0px;
	bottom:0px;
	overflow:hidden;
}
#jQui_modal {
	-webkit-backface-visibility: hidden;
	z-index:9999 !important;
	width:100%;
	height:100%;
	display:none;
	position:absolute;
	top:0px;
	overflow:hidden;
	background:url(images/main-bg.jpg) no-repeat 0px 100px;

	-webkit-perspective: 1000;
}
#jQUi > #header {
	display:block;
	z-index:250;
	height:60px;
	left:0px;
	right:0px;
	margin:0 auto;
} /* This is masthead bar that appears at the top of the UI */

#header * {
	position:relative;
	z-index:2;
}
#header h1 {
	position:absolute;
	overflow:hidden;
	width:100%;
	z-index:1;
	text-align:center;
	height:60px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:24px;
	line-height:60px;
	text-shadow:rgba(0, 0, 0, 0.8) 0px -1px 0px 1px;
	text-align:center;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#000;
} /* This is text that appears in the header at the top of the screen */
/**********************************************************
	BUTTON STYLES
**********************************************************/
#backButton {
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	max-width:50px;
	text-overflow:ellipsis;
	background:url(images/button_back.svg) no-repeat center;
	background-size: 1.5em 1.5em;
	text-indent:-9999px;
	fill:#fff;
	background-color:#5db1bd;
} /* Sets up positioning of the back button which appears in the header */
#backButton > div {
	max-width:50px;
	overflow:hidden;
	text-overflow:ellipsis;
} /* sets up sizing and handling of excess text for the type in the back button */
.button:hover {
	background:  #8c2644;
	border: 1px solid #85103f;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.button {
	color: #f6f3ee;
	text-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7);
	border-bottom: 1px solid #168fa0;
	border-top: 1px solid #168fa0;
	border-left: 1px solid #168fa0;
	border-right: 1px solid #168fa0;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
	background-color: #5f4451;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a23353), to(#7a1836));
	background-image: -moz-linear-gradient(top, #a23353, #7a1836);
	background-image: linear-gradient(#a23353, #7a1836);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a23353', endColorstr='#7a1836');
	z-index:1;
	cursor:pointer;
	display:inline-block;
	font-weight:bold;
	font-size:14px;
	line-height:36px;
	position:relative;
	text-decoration:none;
	text-align:center;
	text-shadow:#442d3e 0 1px 0;
	height:36px;
	min-width:40px;
	padding:0px 8px;
	margin-top:9px;
	margin-left:6px;
	text-overflow:ellipsis;
	-webkit-border-radius:6px;
	border-radius:6px;
} /* Styling for CSS-generated buttons, including the back button. These buttons can bue used anywhere in the UI. */
.button.pressed {
	color:#fff;
	text-shadow:#2e4987 0 1px 0;
	background-color:#5884d6;
	border-color:#168fa0;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.01, #eee), color-stop(0.05, #709de7), color-stop(0.70, #5884d6), color-stop(1, #4470ca));
}/* behavior of button for touch interaction */
#jQUi > #splashscreen {
	position:absolute;
	top:0px;
	bottom:0px;
	width:100%;
	left:0px;
	min-height:100%;
	background:#fff !important;
	color:#666 !important;
	font-size:30px;
	text-align:center;
	z-index:9999;
	display:block;
	margin-left: auto !important;
	margin-right: auto !important;
}
.ui-loader {
	display: none;
	position: absolute;
	z-index: 100;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	background:rgba(0, 0, 0, .4);
	border-radius:9px;
}
.ui-loader h1 {
	font-size: 15px;
	text-align: center;
}
.ui-loader .ui-icon {
	position: static;
	display: block;
	margin: 0 auto;
	width: 35px;
	height: 35px;
	background-color:#fff;
}
.ui-icon-loading {
	background-image: url(images/loader.png) ;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-size: 35px 35px;
}
.spin  {
	-webkit-transform: rotate(360deg);
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count:  infinite;
}
.wedbox {
	width:100%;
	margin:10px auto;
}
#content {
	z-index:180;
	display:block;
	position:absolute;
	top:60px !important;
	bottom:62px;
	left:0px;
	right:0px;
	overflow:hidden;
} /* Accounts for positioning of the content area, which is everything below the header and above the navbar. */
.thedate {

	width:290px;
	height:230px;
	position:relative;
}
.thedate .day {
	font-family:'微软雅黑', sans-serif;
	font-size:100px;
	color: #c03d74;
	text-align:center;
	padding-top:50px;
	text-shadow:1px 1px 1px #FFFFFF, -1px -1px 2px #963853, -1px -1px 0 #C03D74;
	line-height:100px;
}
.thedate .month {
	font-family:'微软雅黑', sans-serif;
	font-size:36px;
	color: #664067;
	text-align:center;
	line-height:50px;
	background:url(images/logo-sepparator.png) repeat-x;
	width:250px;
	margin:0 auto;
	padding-top:10px;
}
.thedate .time {
	font-family:'微软雅黑', sans-serif;
	font-size:24px;
	color: #664067;
	text-align:center;
	line-height:40px;
	padding-bottom:5px;
}
.thedate .add {
	text-align:center;
	padding:0 50px;
}
.thedate sup {
	color: #664067;
	font-size:30px;
	text-shadow:none;
	line-height:0;
}
.meetus {
	color:#fff;
	width:30px;
	height:30px;
	margin:0 auto;
	line-height:30px; 
	text-align:center;
	border-radius:15px;
	background-color:#1d929f;
	margin-bottom:0;
	margin-top:120px;
	text-decoration:none; display:block;
}
.meetus span.heart {
	background:url(images/heart.png) no-repeat;
	display: block;
	height:66px;
	width:80px;
	text-align: center;
	font-size:18px;
	line-height:20px;
	padding-top:15px;
	margin-left:-45px;
	margin-top:-10px;
}
.meetus span.buttontext {
	display: block;
	margin-top: -57px;
	text-align: center;
	font-size:24px;
	margin-left:20px;
	margin-bottom:5px;
}
.ie .meetus span.buttontext {
	font-size: 20px
}
.meetus span.buttonsubtitle {
	display: block;
	font-size:13px;
	font-family:Arimo, sans-serif;
	color: #f7f2f7;
	text-shadow:none;
	text-align:center;
	margin-left:15px;
}
.wednav {
	list-style:none;
	overflow:hidden
}
.wednav li {
	width:50%;
	float:left;
}
.wednav li a {
	margin:10px auto;
	display:block;
	width:100px;
	height:100px;
	padding: 4px;
	background-color: #fafafa;
	border:1px solid #dcdcdc;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow:1px 1px 2px #d4d4d3;
	-webkit-box-shadow:1px 1px 2px #d4d4d3;
	-moz-box-shadow:1px 1px 2px #d4d4d3;
	text-decoration:none;
	text-align:center;
	color:#333
}
.wednav li a:hover {
	background-color: #eeeeee;
}
.content-wrapper {
	width: 90%;
	margin: 20px auto;
	background:url(images/content-wrapper-bg.png) repeat;
	border:1px solid #fff;
	box-shadow: 0px 0px 4px #333;
-webkit-box-shadow: 0px 0px 4px #333;
-moz-box-shadow: 0px 0px 4px #333;
	padding: 5px;
	position: relative;
	z-index: 9998;
}
.content-top {
	background:url(images/content-top.png) no-repeat;
	height:20px;
	margin-bottom:-5px;
	margin-left:-3px;
	z-index:100;
	position: relative;
	display:none;
}
.content {
	background:#fff;
	padding:20px 20px 40px 20px;
	box-shadow:0px 0px 2px #cfcecf;
	-webkit-box-shadow:0px 0px 2px #cfcecf;
	-moz-box-shadow:0px 0px 2px #cfcecf;
}
.content-over-slider {
	margin-top:-50px;
	position: relative;
}
.inner-page {
	padding-top:0px;
	color: #786f78;
}
.inner-header {
	background:url(images/inner-header-bg.jpg) repeat-x bottom;
	height:40px;
	margin-bottom:10px;
}
.inner-header h1 {
	color: #000;
	font-size:22px;
	text-transform:none;
	line-height:25px;
	font-family:"微软雅黑"
}
.content .textbox, .content #message, .sidebar-col .textbox {
	padding:8px;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background:#f7f7f7;
	border:1px solid #cecece;
	box-shadow:inset 1px 1px 2px #e2d8d7;
	-webkit-box-shadow:inset 1px 1px 2px #e2d8d7;
	-moz-box-shadow:inset 1px 1px 2px #e2d8d7;
}
.content .textbox, .sidebar-col .textbox {
	margin-bottom:20px;
	width:90%;
}
.sidebar-col .textbox {
	margin-bottom:0px;
}
.content #message {
	width:90%;
	height:100px;
	font-family:Arimo, sans-serif;
	font-size:14px;
	font-style:italic;
}
.content .submit-button {
	padding: 2px;
	margin-top:20px;
	-webkit-transition:background-color 0.3s ease-in-out;
	-moz-transition:background-color 0.3s ease-in-out;
	-o-transition:background-color 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
.content #send_message , #btn_showmsg {
	background: none repeat scroll 0 0 #5db1bd;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	border: 1px solid #7adbe9;
	margin:0px;
	box-shadow: none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	color: #FFFFFF;
	padding: 4px 20px;
	font-family: Oswald, sans-serif;
	font-size:16px;
	text-decoration:none;
	text-shadow:1px 1px 1px #4d304e;
	width:105px;
	-webkit-transition:background-color 0.3s ease-in-out;
	-moz-transition:background-color 0.3s ease-in-out;
	-o-transition:background-color 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
.content #send_message:hover, #btn_showmsg:hover, footer .submit-button:hover {
	cursor: pointer;
	background:#7adbe9;
}
.content .radiobutton {
	font-size:14px;
}
#contact_form {
	position: relative;
}
#mail_fail {
	margin-bottom: -43px;
}
.notcompleted {
	background: #FFBABA!important;
	color: #D8000C;
	text-shadow:1px 1px 1px #fff;
}
/*信息提示*/
#cf_submit_p {
	text-align:right;
	margin:10px 0;
}
.error {
	display: none;
	padding:10px;
	color: #D8000C;
	font-size:12px;
	background-color: #FFBABA;
}
.success {
	display: none;
	padding:10px;
	color: #044406;
	font-size:12px;
	background-color: #B7FBB9;
	margin-top: 20px;
}
#contact_logo {
	vertical-align: middle;
}
.error img {
	vertical-align:top;
}
.content .map {
	padding: 4px;
	background-color: #fff;
	border:1px solid #dcdcdc;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow:1px 1px 2px #d4d4d3;
	-webkit-box-shadow:1px 1px 2px #d4d4d3;
	-moz-box-shadow:1px 1px 2px #d4d4d3;
}
#share h3 {
	font-size:14px;
	color: #3f2840;
	margin-bottom: 20px;
}
#webcarousel .photoshow {
	text-align:center
}
#webcarousel .photoshow img {
	max-height:98%;
	background-color: #fff;
	border:1px solid #dcdcdc;
	border-radius:3px;
	border:3px solid #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow:1px 1px 2px #d4d4d3;
	-webkit-box-shadow:1px 1px 2px #d4d4d3;
	-moz-box-shadow:1px 1px 2px #d4d4d3;
}
#webcarousel li .image-background {
	border:none!important;
	padding: 0px!important;
	background-color:transparent!important;
	position: absolute;
	display: block;
	bottom:0px;
	box-shadow:none!important;
	-webkit-box-shadow:none!important;
	-moz-box-shadow:none!important;
	height:15px;
}
.carousel_paging2 {
	border-radius: 5px;
	background: #ccc;
	width: 5px;
	height: 5px;
	display:inline-block;
}
.carousel_paging2_selected {
	border-radius: 5px;
	background: #bf4376;
	width: 5px;
	height: 5px;
	display:inline-block;
}
.spacer {
	width: 5px;
	float: left;
}
.carousel_content {
	-webkit-transform: translate3d(0, 0, 0);
}
.invititle {
	background:#5db1bd;
	margin:-15px;
	margin-bottom:-35px;
	padding:15px;
}
.invitext {

}
.invitext p {
	color:#fff;
}
.invitext .ip2, .invitext .ip3, .invitext .ip4 {
	text-align:center;
}
.invitext .ip2 {
	font-family:Parisienne;
	font-size:2em;
}
.invitext .ip3 {
	font-size:1.5em;
}
.invitext .ip4 {
	font-size:1.2em;
	margin-bottom:1em;
}
.invitext .ip1 {
	font-size:1.1em;
}
.invitext .ip5 {
	line-height:1.3em;
}
.biz{
    width:90%;
	text-align:center;
    margin:10px auto -20px auto;
	}
.biz a{
	 color:#bf4376;
	 font-weight:bold;
	}