.xiangxi{ position:relative;}
.bg1 .jiehun{ margin:10px;background: url(../images/xi.png) no-repeat center  20px; background-size: auto auto;}
form{ margin:0px;} 
.xiangxi ul li .xh2{ border:0px; }

.xiangxi ul li .xh_msg{  text-align:left; }
.s1 .xiangxi ul li .xs span{ }



/*msg*/
.msg{  width:90%; color:#666; line-height:35px; }
.msg p{ padding:5px 0px;}
.Context{ width:100%; height:100px;}
.Context,.name{ border:1px solid #999; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; padding:5px; background:rgba(255,255,255,.7);}

.msgSel{ height:45px; text-align:center; padding-top:15px;}
.msgSel span{ display:inline-block; color:#333; border:1px solid #CCC; border-radius:30px; -webkit-border-radius:30px; background:#fff; line-height:30px; padding:0px 10px 0px 35px; margin:0px 15px; position:relative; opacity:0.5;}
.msgSel span i{ display:inline-block; padding-left:30px; height:24px; background:url(xin.png) no-repeat 0px 3px; position:absolute; left:8px;}
.msgSel span.bucanjia i{ background:url(xin.png) no-repeat 0px -47px;}
.msgList{ max-width:100%; margin:auto; min-height:100px;  }
.loding{ background:url(../../images/loading.GIF) no-repeat center 50%;}
.msgList .list{ border:1px solid #FFF; background:#fff;filter: alpha(opacity=80); opacity:0.8; margin:auto; border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px; padding:5px; box-shadow:0px 3px 10px #333; margin-bottom:15px;
                 color:#333;}
.msgList .list h3{ font-weight:normal;}
.msgList .list p{ font-size:14px; line-height:20px;}
.msgList .list h3 span{ border:1px solid #CCC; border-radius:30px; -webkit-border-radius:30px; display:inline-block; float:right; height:22px; padding:0px 5px; width:30px; opacity:0.9; background:#fff;filter: alpha(opacity=90);}
 h3 .msg1 i{ background:url(xin.png) no-repeat center -2px;height:22px; width:30px; display:inline-block;}
 h3 .msg0 i{ background:url(xin.png) no-repeat center -51px;height:22px; width:30px; display:inline-block;}
 .btnMsg,.btnClose{ border:1px solid #f6f6f6; padding:3px 7px; border-radius:5px; -webkit-border-radius:5px; background:#c6c4c4; margin-top:15px;}
 .subMsg{ width:100%; height:220px;  border-radius:10px; -webkit-border-radius:10px;background:#fff url(../../images/loading.gif) no-repeat center 150px; position:absolute; left:0px; top:0px;filter: alpha(opacity=80); opacity:0.4; display:none;}
.btnClose{}

.fiexd_css{ position:fixed; bottom:0px; max-width:640px; width:100%; min-width:320px; text-align:center; z-index:100000;border-top: 1px solid #930202;border-bottom: 1px solid #930202;}
.relative_css{ position:relative;}
.btn_zhufu{border:1px solid #CCC; width:135px; color:#000; border-radius:30px; -webkit-border-radius:30px; background:#fff; line-height:30px; padding:0px 10px 0px 10px;  position:relative; opacity:0.5;  margin:auto; text-align:center; display:block;}
.pageBanner{ display:none; position:fixed; width:610px; top:150px; margin:auto; z-index:100002; background:#f5f5f5;   border-radius:10px; -webkit-border-radius:10px; height:220px; padding:15px;}
.windowBg{ width:100%; height:960px; background:rgba(0,0,0,0.8); position:fixed; left:0px; top:0px;  z-index:100002; display:none;}
/*评论分页*/
#pagenum{ text-align:right; padding-right:5px; font:0.75em/100% '微软雅黑'; clear:both;height:22px; padding-top:20px; color:#fff; padding-bottom:20px;}
#pagenum span{ padding:3px 5px; border:1px solid #fff; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; display:inline-block; cursor:pointer; margin-right:5px;}
#pagenum span.hover,#pagenum span:hover{ border-color:#fff; color:#000; background:#fff; text-shadow:0px 2px 5px #fff;transition: color .5s linear .1s, background-color .35s linear .1s,border-color .35s linear .1s;  -webkit-transition: color .5s linear .1s, background-color .35s linear .1s,border-color .35s linear .1s;  -moz-transition: color .5s linear .1s, background-color .35s linear .1s,border-color .35s linear .1s;}

@media screen and (max-width:640px)
{
	.xiangxi{ position:fixed; z-index:100000;}	
	.jiehun{ padding-bottom:100px;}
	.xiangxi ul li .xh_msg{   height:360px; overflow-y:scroll;}
	.windowBg{ width:100%; height:960px; background:rgba(0,0,0,0.8); position:fixed; left:0px; top:0px;  z-index:100002; display:none;}
	.btn_zhufu{ border:1px solid #CCC; width:135px; color:#000; border-radius:30px; -webkit-border-radius:30px; background:#fff; line-height:30px; padding:0px 10px 0px 10px;  position:relative; opacity:0.5;  margin:auto; text-align:center; display:block;}
	.pageBanner{height: 220px; width:270px; position: fixed;top: 10px; left:50%; margin-left:-150px;}
	.btnClose{ display:inline;}
	.subMsg{ height:960px;}
}