.form1Holder {
	width: 100%; display: block; position: relative;
}
#form1 {
	width: 100%; text-transform: none; display: inline-block;
}
#form1 > a {
	text-transform: uppercase; font-size: 10px; float: left;
}
#form1 select {
	float: left; visibility: hidden;
}
.select_1 {
	width: 30px; float: left; position: relative;
}
.select_2 {
	width: 62px; float: left; position: relative;
}
.select_3 {
	width: 100px; float: left; position: relative;
}
.searchButton1 {
	width: 100%; margin-top: 30px; float: left; display: block; position: relative; cursor: pointer;
}
.calend1 {
	width: 256px; height: 30px; float: left; display: block; position: relative;
}
.calend2 {
	width: 256px; float: left; display: block; position: relative;
}
#form1 .ui-datepicker-trigger {
	top: 11px; right: -25px; position: absolute; cursor: pointer;
}
.inp1 {
	width: 280px; height: 30px; float: left; display: block; position: relative;
}
.jqTransformInputWrapper {
	padding: 0px; border: 1px solid rgb(219, 213, 199); width: 100%; height: 30px; float: left;
}
.jqTransformInputInner {
	background: rgb(253, 253, 253); margin: 0px; padding: 0px;
}
.jqTransformInputInner div {
	margin: 0px 0px 0px 8px; height: 30px;
}
.jqTransformInputInner div input {
	border: currentColor; width: 100%; height: 30px; color: rgb(140, 139, 139); text-transform: uppercase; line-height: 20px; font-family: "Asap", sans-serif; font-size: 11px; vertical-align: middle;
}
* html .jqTransformInputInner div input {
	margin: 0px 0px 0px -8px; padding: 6px 0px 0px; height: 24px;
}
* + html .jqTransformInputInner div input {
	padding: 6px 0px 0px; height: 24px; margin-left: -10px;
}
.jqTransformInputWrapper_hover {
	background-position: left -31px;
}
.jqTransformInputWrapper_hover div.jqTransformInputInner {
	background-position: right -31px;
}
.jqTransformInputWrapper_focus {
	background-position: left -62px;
}
.jqTransformInputWrapper_focus div.jqTransformInputInner {
	background-position: right -62px;
}
.jqTransformSafari .jqTransformInputInner div {
	margin: 0px 10px; overflow: hidden; position: relative;
}
.jqTransformSafari .jqTransformInputInner div input {
	position: absolute;
}
.jqTransformSelectWrapper {
	background: rgb(255, 255, 255); border: 1px solid rgb(219, 213, 199); width: 100%; height: 30px; margin-right: 7px; float: left; position: relative;
}
.jqTransformSelectWrapper div span {
	margin: 0px 0px 0px 10px; height: 30px; color: rgb(140, 139, 139); line-height: 30px; overflow: hidden; font-family: "Asap", sans-serif; font-size: 11px; float: none; white-space: nowrap; position: absolute; cursor: pointer;
}
.jqTransformSelectWrapper a.jqTransformSelectOpen {
	background: url("../images/arr_1.png") no-repeat 50% 50%; width: 30px; height: 30px; right: 0px; display: block; position: absolute;
}
.jqTransformSelectWrapper ul {
	list-style: none; margin: 0px; padding: 0px; left: 0px; top: 30px; width: 100%; height: 150px; overflow: auto; display: none; position: absolute; z-index: 10; overflow-y: auto; background-color: rgb(255, 255, 255);
}
.jqTransformSelectWrapper ul a {
	padding: 5px; color: rgb(140, 139, 139); font-family: "Asap", sans-serif; font-size: 11px; text-decoration: none; display: block; background-color: rgb(255, 255, 255);
}
.jqTransformSelectWrapper ul a.selected {
	background: rgb(237, 237, 237); color: rgb(51, 51, 51);
}
.jqTransformSelectWrapper ul a:hover {
	background: rgb(116, 7, 11); color: rgb(255, 255, 255);
}
.jqTransformSelectWrapper ul a.selected:hover {
	background: rgb(116, 7, 11); color: rgb(255, 255, 255);
}
.jqTransformRadioWrapper {
	float: left; display: block;
}
.jqTransformRadio {
	background: url("../images/radio.png") no-repeat top; width: 19px; height: 19px; vertical-align: middle; display: block;
}
a.jqTransformChecked {
	background-position: bottom;
}
.jqTransformHidden {
	display: none;
}
