/*leo move arrow icon from left to right side 把箭頭移到右側*/
.ui-accordion-icons .ui-accordion-header a { padding-left: 0.3em; } 
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: 100%; margin-left: -30px; top: 50%; margin-top: -8px; }

/*Leo add 子項目內容背景圖設定*/

.self-color{
    color: gold;
}

/* reset */
body, div, ul, li, h1, h2, h3, h4, h5, h6, pre, form, input, textarea, p, th, td {
	margin:0;
	padding:0;
	
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img {
	border:0;
}
ul {
	list-style:none;
}
a, a:hover, a:active, a:focus{
	text-decoration:none;
	border:none;
	outline:none;
	/*color:#ffd4e6;*/
	color:#fff5fd;
	}
:focus {
    outline: 0;
}
/* reset */

html { 
overflow-x: hidden; overflow-y: auto; 
}


/*Leo add 背景顏色*/
body {
	/*font-family:Georgia, "Times New Roman", Times, serif;*/
}	

/*
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {style: clear }
*/



/*預載圖片*/
/*
#preload-01 { background: url(images/bg_tl.gif) no-repeat -9999px -9999px; }
#preload-02 { background: url(images/bg_tm.gif) no-repeat -9999px -9999px; }
#preload-03 { background: url(images/bg_tr.gif) no-repeat -9999px -9999px; }
*/

/*====主頁外框 Start====*/
/*框內的高度及寬度都會變化*/

#outter{
/*外框*/
	
}

.outter-main-tl{
/*左上框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-tm{
/*上框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-tr{
/*右上框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-bl{
/*左下框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-bm{
/*下框*/
	font-size:15%; /*fix IE6*/
	
}
.outter-main-br{
/*右下框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-ml{
/*左框*/
	width:auto;
}
.outter-main-mr{
/*右框 内容*/
	width:auto;
}

.outter-main-mm{
/*中框*/
}

/*====主頁外框 End====*/


/*====主頁內框 Start====*/
/*
注意主頁內框的上框及下框要留足夠的高度給上標及下標題文字顯示
height:40px 以上比較保險;

*/
#inner{
	
position:relative;
}

.inner-main-tl{
/*左上框*/
}
.inner-main-tm{
/*上框*/

}
.inner-main-tr{
/*右上框*/
}
.inner-main-bl{
/*左下框*/
}
.inner-main-bm{
/*下框*/
}
.inner-main-br{
/*右下框*/
}
.inner-main-ml{
/*左框*/
}
.inner-main-mr{
/*右框 内容*/
}


#frame1_1{
	position:absolute;
	height:71px;
	width: 100%;
	top: 0px;
	z-index: 101;

}

#frame1_2{
	background: right top url(images/%E4%BE%9D%E8%88%8A%E7%BE%8E%E9%BA%97_%E4%B8%BB%E6%A8%99%E8%8A%B1%E5%8F%B32.png) no-repeat;	
	height:71px;
	width: 100%;
	top: 0px;
	z-index: 101;

}
#frame1_3{
	background: left top url(images/%E4%BE%9D%E8%88%8A%E7%BE%8E%E9%BA%97_%E4%B8%BB%E6%A8%99%E8%8A%B1%E5%B7%A62.png)no-repeat;	
	height:71px;
	width: 100%;
	top: 0px;
	z-index: 101;

}


.inner-main-mm{
	
/*中框*/
	/*-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;*/
/*
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='pic_center.png',sizingMethod='scale');

	-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='pic_center.png',sizingMethod='scale');
*/	

}

/*====主頁內框 End====*/
.inner-main-mm img{
	
	display:block;
/*
	width:100%;
	height:100%; 
	margin:0 auto;
*/	
}

#img_videobutton{
	width: 50px;
	height: 50px;
	position:absolute;
	background:url(images/icons/video.png) center center no-repeat;
	background-size:contain;
	z-index: 999;
	top: -50px;
	cursor:pointer;
}


/*====主頁內框 End====*/



/*====Main-title Start====*/
/*框內的高度及寬度都會變化*/

#main-title{
/*外框*/
	
 }


#maintitlehtml span{ 

}

.main-title-tl{
/*左上框*/
	
	font-size:15%; /*fix IE6*/
}
.main-title-tm{
/*上框*/
	font-size:15%; /*fix IE6*/
}
.main-title-tr{
/*右上框*/
	font-size:15%; /*fix IE6*/
}
.main-title-bl{
/*左下框*/
	font-size:15%; /*fix IE6*/
}
.main-title-bm{
/*下框*/
}
.main-title-br{
/*右下框*/
}

.main-title-mm{
	background: bottom url(images/%E4%BE%9D%E8%88%8A%E7%BE%8E%E9%BA%97_Title_bottom.png) repeat-x;
	width: 100%;
	/*-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;*/
	
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='%E4%BE%9D%E8%88%8A%E7%BE%8E%E9%BA%97_Title_bottom.png',sizingMethod='scale');
	-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='%E4%BE%9D%E8%88%8A%E7%BE%8E%E9%BA%97_Title_bottom.png',sizingMethod='scale');
}

.main-title-ml{
	background: top url(images/%E4%BE%9D%E8%88%8A%E7%BE%8E%E9%BA%97_Title_top.png) repeat-x;
	width: 100%;
	/*-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;*/
	
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='%E4%BE%9D%E8%88%8A%E7%BE%8E%E9%BA%97_Title_top.png',sizingMethod='scale');

	-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='%E4%BE%9D%E8%88%8A%E7%BE%8E%E9%BA%97_Title_top.png',sizingMethod='scale');
}

.main-title-mr{

	background-color:#ebdcba;
	width: 100%;

}

#maintitlehtml{
	

	width:auto;
	text-align:center;
	padding:13px 35px 6px 35px ;
  /* WebKit (Safari/Chrome) Only */
 /* -webkit-text-stroke: 1px #fc5e83; */
  
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  
  color: #a2622a;
}


/*====main-title End====*/


/*====Sub-title Start====*/
/*框內的高度及寬度都會變化*/

#sub-title{
  
/*外框*/
	 
}

.sub-title-tl{
/*左上框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-tm{
/*上框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-tr{
/*右上框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-bl{
/*左下框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-bm{
/*下框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-br{
/*右下框*/
	font-size:15%; /*fix IE6*/
}



.sub-title-mm{
	background: bottom url(images/%E4%BE%9D%E8%88%8A%E7%BE%8E%E9%BA%97_subtitle_bottom.png) repeat-x;
	width: 100%;
}

.sub-title-ml{
	background: top url(images/%E4%BE%9D%E8%88%8A%E7%BE%8E%E9%BA%97_subtitle_top.png) repeat-x;
	width: 100%;
}


.sub-title-mr{
/*中框*/
	text-align:center;
/*	line-height:1; */
	background-color:#ebdcba;
	width: 100%;
	color: #a2622a;

	height:auto;
}


#subtitlehtml {
	padding:3px 0 3px 0;
}
/*====sub-title End====*/






















/*====按鈕外框 Start====*/

#accordion {
	background: url(images/%E8%83%8C%E6%99%AF320.png);
	background-size:100%;
	padding: 10px 0px 10px 0px;
	

}


.button{
/*最外框
	background:url(images/btn_bg2.png) left 0px no-repeat;
	*/
	/* margin: 15px 10px 10px 10px; */
	
}

.button-ml{
/*中框 */
	padding: 10px 20px 10px 20px;

}

.button-mm{
/*中框 */
/*	background: url(images/%E6%8C%89%E9%88%95_2x2.png); */
/*	background: url(images/%E6%8C%89%E9%88%95_%E6%B5%AE%E7%A9%BA_2x2.png);*/
 
}


.ui-state-hover .button-mm{
/*中框 */
	/*background: url(images/%E6%8C%89%E9%88%95_%E6%B5%AE%E7%A9%BA_2x2.png);*/
	/*background: url(images/%E6%8C%89%E9%88%95_2x2.png); */
	background: url(images/%E6%8C%89%E9%88%95_%E6%B5%AE%E7%A9%BA_2x2.png);

}

.ui-state-active .button-mm{
/*中框 */
	
	/*background: url(images/%E6%8C%89%E9%88%95_%E9%BB%9E%E9%81%B8_2x2.png);*/
	/*background: url(images/%E6%8C%89%E9%88%95_2x2.png);*/
	background: url(images/%E6%8C%89%E9%88%95_%E6%B5%AE%E7%A9%BA_2x2.png);

}






.button-mm a{
	height:33px;
/*	background:url(images/btn_bg1.png) 0px 0px repeat-x; */
	margin-left: 20px; 
	font-size:19px;
	/***font-weight:bold;***/
	font-weight: normal;
	line-height:33px;
	color: #745d38;
/*	border:dashed #F00;*/
	
	}

.iconimage{
   vertical-align: middle;
}
.button-title{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}




/*====按鈕外框 End====*/



/*====內容外框 Start====*/

.detail {
/*最外框*/


}


/*框內的高度及寬度都會變化*/
.detail-tl{
/*左上框*/
	font-size:15%; /*fix IE6*/
}
.detail-tm{
/*上框*/
	background:url(images/%E4%BE%9D%E8%88%8A%E7%BE%8E%E9%BA%97_%E9%99%B0%E5%BD%B11.png) repeat-x;
	height:12px;
	font-size:15%; /*fix IE6*/
}
.detail-tr{
/*右上框*/
	font-size:15%; /*fix IE6*/
}
.detail-bl{
/*左下框*/
	font-size:15%; /*fix IE6*/
}
.detail-bm{
/*下框*/
	font-size:15%; /*fix IE6*/
	background:url(images/%E4%BE%9D%E8%88%8A%E7%BE%8E%E9%BA%97_%E9%99%B0%E5%BD%B12.png) repeat-x;
	height:13px;

}
.detail-br{
/*右下框*/
	font-size:15%; /*fix IE6*/
}
.detail-ml{
/*左框*/
	width:auto;
}
.detail-mr{
/*右框 内容*/
	width:auto;
}

.detail-mm p{
/*中框 */
}

.detail-mm {
/*中框 */
	/*color:#ffd4e6;*/
	color:#4e2a06;

	
	padding:20px 25px;
/*
	-moz-box-shadow:0px 0px 5px 3px rgba(30%,30%,30%,0.5) inset;
	-webkit-box-shadow:0px 0px 5px 3px rgba(30%,30%,30%,0.5) inset;
	box-shadow:0px 0px 5px 3px rgba(30%,30%,30%,0.5) inset;
*/
}

#footer{
	background: url(images/%E4%BE%9D%E8%88%8A%E7%BE%8E%E9%BA%97_%E4%B8%8B.png) repeat-x; /* 加上背景 */

	}
#copyright{
	
	}
#copyright-text{
	font-size:12px;
	color:#745d38;
	text-align:center;
	line-height:25px;
	height: 25px;
}

/*====內容外框 End====*/

