/*leo move arrow icon from left to right side 把箭頭移到右側*/
.ui-accordion-icons .ui-accordion-header a { padding-left: 0.3em; } 
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: 100%; margin-left: -30px; top: 50%; margin-top: -8px; }

/*Leo add 子項目內容背景圖設定*/

.self-color{
    color: indianred;
}

/* reset */
body, div, ul, li, h1, h2, h3, h4, h5, h6, pre, form, input, textarea, p, th, td {
	margin:0;
	padding:0;
	
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img {
	border:0;
}
ul {
	list-style:none;
}
a, a:hover, a:active, a:focus{
	text-decoration:none;
	border:none;
	outline:none;
	}
:focus {
    outline: 0;
}
/* reset */

html { 
overflow-x: hidden; overflow-y: auto; 
}


/*Leo add 背景顏色*/
body {
	/*font-family:Georgia, "Times New Roman", Times, serif;*/
	 background:url(images/bg.png) repeat;
}	

/*
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {style: clear }
*/



/*預載圖片*/
#preload-01 { background: url(images/bg_tl.gif) no-repeat -9999px -9999px; }
#preload-02 { background: url(images/bg_tm.gif) no-repeat -9999px -9999px; }
#preload-03 { background: url(images/bg_tr.gif) no-repeat -9999px -9999px; }


/*====主頁外框 Start====*/
/*框內的高度及寬度都會變化*/

#outter{
/*外框*/
	background:url(images/bg_top2.png) left top no-repeat;
	padding:40px 0 0 0;
	
}

.outter-main-tl{
/*左上框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-tm{
/*上框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-tr{
/*右上框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-bl{
/*左下框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-bm{
/*下框*/
	font-size:15%; /*fix IE6*/
	
}
.outter-main-br{
/*右下框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-ml{
/*左框*/
	width:auto;
}
.outter-main-mr{
/*右框 内容*/
	width:auto;
}

.outter-main-mm{
/*中框*/
}

/*====主頁外框 End====*/


/*====主頁內框 Start====*/
/*
注意主頁內框的上框及下框要留足夠的高度給上標及下標題文字顯示
height:40px 以上比較保險;

*/
#inner{
	
}


.inner-main-tl{
/*左上框*/
}
.inner-main-tm{
/*上框*/

}
.inner-main-tr{
/*右上框*/
}
.inner-main-bl{
/*左下框*/
}
.inner-main-bm{
/*下框*/
}
.inner-main-br{
/*右下框*/
}
.inner-main-ml{
/*左框*/
}
.inner-main-mr{
/*右框 内容*/
}
.inner-main-mm{
/*中框*/

}

/*====主頁內框 End====*/
.inner-main-mm img{
/*	display:block;
	width:100%;
	height:100%;
	margin:0 auto;
*/	
}

#img_videobutton{
	width: 50px;
	height: 50px;
	position:absolute;
	background:url(images/icons/video.png) center center no-repeat;
	background-size:contain;
	z-index: 99;
	top: -50px;
	cursor:pointer;
}


/*====主頁內框 End====*/



/*====Main-title Start====*/
/*框內的高度及寬度都會變化*/

#main-title{
/*外框*/

	display:block;
	/*font-size:22px;
	color: #ffffff;
	text-shadow:0px 0px 0 rgb(108,108,108), 1px 1px 0 rgb(22,22,22),2px 2px 1px rgba(0,0,0,0.05),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);
	
	*/

	text-shadow:0px 0px 0 rgb(108,108,108), 1px 1px 0 rgb(22,22,22),2px 2px 1px rgba(0,0,0,0.05),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2); 
	
	color: #FFF;
	line-height:1.2;
	text-align:center;
	padding:8px 10px 7px 10px;
 }


#maintitlehtml span{
padding-left:25px; 

	float:right;
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=black);
}

.main-title-tl{
/*左上框*/
	font-size:15%; /*fix IE6*/
}
.main-title-tm{
/*上框*/
	font-size:15%; /*fix IE6*/
}
.main-title-tr{
/*右上框*/
	font-size:15%; /*fix IE6*/
}
.main-title-bl{
/*左下框*/
	font-size:15%; /*fix IE6*/
}
.main-title-bm{
/*下框*/
}
.main-title-br{
/*右下框*/
}
.main-title-ml{
/*左框*/
	width:auto;
}
.main-title-mr{
/*右框 内容*/
	width:auto;
}

.main-title-mm{
/*中框*/
}

/*====main-title End====*/


/*====Sub-title Start====*/
/*框內的高度及寬度都會變化*/

#sub-title{
/*外框*/
	background:url(images/bg_bottom.png) left bottom repeat-x;
	padding:0 0 0px 0;
	text-align:right;
}

.sub-title-tl{
/*左上框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-tm{
/*上框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-tr{
/*右上框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-bl{
/*左下框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-bm{
/*下框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-br{
/*右下框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-ml{
/*左框*/
	width:auto;
}
.sub-title-mr{
/*右框 内容*/
	width:auto;
}

.sub-title-mm{
/*中框*/
	display:block;
	text-align:center;
	line-height:1.2;
	color:#FFF;
	background-color:#e3a41f;
/*	padding:5px 10px; */
}

/*====sub-title End====*/






















/*====按鈕外框 Start====*/

.button{
/*最外框*/
	background:url(images/btn_bg2.png) left 0px no-repeat;
}

.ui-state-hover .button{ background-position:left -40px; }
.ui-state-active .button{ background-position:left -80px; }





/*框內的高度及寬度都會變化*/
.button-tl{
/*左上框*/
}
.button-tm{
/*上框*/
}
.button-tr{
/*右上框*/
}
.button-bl{
/*左下框*/
}
.button-bm{
/*下框*/
}
.button-br{
/*右下框*/
}
.button-ml{
/*左框*/


}
.button-mr{
/*右框 内容*/
	display:block;
	height:40px;
	background:url(images/btn_bg2.png) right 0px no-repeat;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	line-height:40px;
}
.ui-state-hover .button-mr{ background-position:right -40px; }
.ui-state-active .button-mr{ background-position:right -80px; }


.button-mm{
/*中框 */
	display:block;
	height:40px;
	background:url(images/btn_bg2.png) right 0px no-repeat;
}


.ui-state-hover .button-mm{ background-position:right -40px; }
.ui-state-active .button-mm{ background-position:right -80px; }


.button-mm a{
	display:block;
	height:40px;
	background:url(images/btn_bg1.png) 0px 0px repeat-x;
	margin:0 60px;
	color:#e3a41f;
	font-size:20px;
	font-weight:bold;
	line-height:40px;
	}
.ui-state-hover .button-mm a{ background-position:0px -40px; color:#FFF; }
.ui-state-active .button-mm a{ background-position:0px -80px; ; color:#FFF;}



.button-mm a img{
	vertical-align:middle;
	/*float:left;*/ 
	margin-top:-4px;
}





/*====按鈕外框 End====*/



/*====內容外框 Start====*/

.detail {
/*最外框*/


}


/*框內的高度及寬度都會變化*/
.detail-tl{
/*左上框*/
	font-size:15%; /*fix IE6*/
}
.detail-tm{
/*上框*/
	font-size:15%; /*fix IE6*/
}
.detail-tr{
/*右上框*/
	font-size:15%; /*fix IE6*/
}
.detail-bl{
/*左下框*/
	font-size:15%; /*fix IE6*/
}
.detail-bm{
/*下框*/
	font-size:15%; /*fix IE6*/
}
.detail-br{
/*右下框*/
	font-size:15%; /*fix IE6*/
}
.detail-ml{
/*左框*/
	width:auto;
}
.detail-mr{
/*右框 内容*/
	width:auto;
}

.detail-mm p{
/*中框 */
}

.detail-mm {
/*中框 */
	background:url(images/content_bg.png); /* 加上背景 */
	padding:20px 25px;
	-moz-box-shadow:0px 0px 5px 3px rgba(30%,30%,30%,0.5) inset;
	-webkit-box-shadow:0px 0px 5px 3px rgba(30%,30%,30%,0.5) inset;
	box-shadow:0px 0px 5px 3px rgba(30%,30%,30%,0.5) inset;
}

#footer{
	background:url(images/bg_bottom.png) left top repeat-x;
	padding:5px 0 0 0;
	}
#footer #copyright{
	background-color:#e3a41f;
	font-size:15px;
	color:#fff;
	text-align:center;
	line-height:25px;
	}
.invitext p{
color:#FFFFFF;}

.invitext span{
color:#e3a41f;}


/*====內容外框 End====*/

