/*leo move arrow icon from left to right side 把箭頭移到右側*/
.ui-accordion-icons .ui-accordion-header a { padding-left: 0.3em; } 
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: 100%; margin-left: -30px; top: 50%; margin-top: -8px; }

/*Leo add 子項目內容背景圖設定*/

.self-color{
    color: gold;
}

/* reset */
body, div, ul, li, h1, h2, h3, h4, h5, h6, pre, form, input, textarea, p, th, td {
	margin:0;
	padding:0;
	
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img {
	border:0;
}
ul {
	list-style:none;
}
a, a:hover, a:active, a:focus{
	text-decoration:none;
	border:none;
	outline:none;
	/*color:#ffd4e6;*/
	color: #009;
	}
:focus {
    outline: 0;
}
/* reset */

html { 
overflow-x: hidden; overflow-y: auto; 
}


/*Leo add 背景顏色*/
body {
	/*font-family:Georgia, "Times New Roman", Times, serif;*/
}	

/*
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {style: clear }
*/



/*預載圖片*/
/*
#preload-01 { background: url(images/bg_tl.gif) no-repeat -9999px -9999px; }
#preload-02 { background: url(images/bg_tm.gif) no-repeat -9999px -9999px; }
#preload-03 { background: url(images/bg_tr.gif) no-repeat -9999px -9999px; }
*/

/*====主頁外框 Start====*/
/*框內的高度及寬度都會變化*/

#MainContent{
		background:#FFF;
}

#outter{
/*外框*/

}

.outter-main-tl{
/*左上框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-tm{
/*上框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-tr{
/*右上框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-bl{
/*左下框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-bm{
/*下框*/
	font-size:15%; /*fix IE6*/
	
}
.outter-main-br{
/*右下框*/
	font-size:15%; /*fix IE6*/
}
.outter-main-ml{
/*左框*/
	width:auto;
}
.outter-main-mr{
/*右框 内容*/
	width:auto;
}

.outter-main-mm{
/*中框*/
}

/*====主頁外框 End====*/


/*====主頁內框 Start====*/
/*
注意主頁內框的上框及下框要留足夠的高度給上標及下標題文字顯示
height:40px 以上比較保險;

*/
#inner{
	position:relative;
	
}

.inner-main-tl{
/*左上框*/
}
.inner-main-tm{
/*上框*/

}
.inner-main-tr{
/*右上框*/
}
.inner-main-bl{
/*左下框*/
}
.inner-main-bm{
/*下框*/
}
.inner-main-br{
/*右下框*/
}
.inner-main-ml{
/*左框*/
}
.inner-main-mr{
/*右框 内容*/
position:relative;
}


#frame1_1{
	background: center top url(images/new/pictop_center.png) repeat-x;	
	position:absolute;
	height:55px;
	width: 100%;
	top: 0px;
	z-index: 101;

}

#frame1_2{
	background: right top url(images/new/pictop_right.png) no-repeat;	
	height:55px;
	width: 100%;
	top: 0px;
	z-index: 101;

}
#frame1_3{
	background: left top url(images/new/pictop_left.png) no-repeat;	
	height:55px;
	width: 100%;
	top: 0px;
	z-index: 101;

}


#frame2_1{
	/*border:dashed #F00 2px;*/
	z-index:100;
	position:absolute;
	height:100%;
	width: 100%;
}

#frame2_2{
	/*border:dashed #00F 2px;*/
	background:right center url(images/new/pic_center_right.png) repeat-y;	
	height:100%;
	width: 100%;
	top: 0px;
	z-index: 100;

}
#frame2_3{
	background: left top url(images/new/pic_center_left.png) repeat-y;	
	height:100%;
	width: 100%;
	top: 0px;
	z-index: 100;

}



#frame3_1{
	background: center bottom url(images/new/picbottom_center.png) repeat-x;	
	position:absolute;
	height:100%;
	width: 100%;
	bottom: 0px;
	z-index: 102;

}

#frame3_2{
	background: right bottom url(images/new/picbottom_right.png) no-repeat;	
	height:100%;
	width: 100%;
	bottom: 0px;
	z-index: 102;

}
#frame3_3{
	background: left bottom url(images/new/picbottom_left.png) no-repeat;	
	height:100%;
	width: 100%;
	bottom: 0px;
	z-index: 102;

}



.inner-main-mm{
	
/*中框*/
	/*-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;*/
/*
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='pic_center.png',sizingMethod='scale');

	-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='pic_center.png',sizingMethod='scale');
*/	

}

/*====主頁內框 End====*/
.inner-main-mm img{
	
/*	
	display:block;
	width:100%;
	height:100%; 
	margin:0 auto;
*/	
}

#img_videobutton{
	width: 50px;
	height: 50px;
	position:absolute;
	background:url(images/icons/video.png) center center no-repeat;
	background-size:contain;
	z-index: 999;
	top: -50px;
	cursor:pointer;
}


/*====主頁內框 End====*/



/*====Main-title Start====*/
/*框內的高度及寬度都會變化*/

#main-title{
/*外框*/
	
 }


#maintitlehtml span{ 

}

.main-title-tm{
	background: left top url(images/new/topbar_top_left.png) no-repeat;
	height: 95px;
}



.main-title-tl{
	background: right top url(images/new/topbar_top_right.png) no-repeat;
	height: 95px;
}
.main-title-tr{

	background: center top url(images/new/topbar_top_center.png) repeat-x;
	height: 95px;
}

.main-title-bm{
	background: left bottom url(images/new/topbar_bottom_left.png) no-repeat;
	height: 40px;

}
.main-title-bl{
	background: right bottom url(images/new/topbar_bottom_right.png) no-repeat;
	height: 40px;
}
.main-title-br{

	background: center bottom url(images/new/topbar_bottom_center.png) repeat-x;
	height: 40px;
}


.main-title-ml{
/*左上框*/
background: left top url(images/new/topbar_center_left.png) repeat-y;


	
	font-size:15%; /*fix IE6*/
}
.main-title-mm{
/*上框*/
	font-size:15%; /*fix IE6*/
}
.main-title-mr{
/*右上框*/
background: right top url(images/new/topbar_center_right.png) repeat-y;
}
#maintitlehtml{
	

	width:auto;
	line-height:1.2;
	text-align:center;
	padding:0px 20px 8px 20px ;
  /* WebKit (Safari/Chrome) Only */
 /* -webkit-text-stroke: 1px #fc5e83; */
  
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  
  color: #a2622a;
}


/*====main-title End====*/


/*====Sub-title Start====*/
/*框內的高度及寬度都會變化*/

#sub-title{ 
/*外框*/
	 
}

.sub-title-tl{
/*左上框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-tm{
/*上框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-tr{
/*右上框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-bl{
/*左下框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-bm{
/*下框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-br{
/*右下框*/
	font-size:15%; /*fix IE6*/
}
.sub-title-mr{
/*左框*/
	width:100%;
	min-height:53px;
	background: center url(images/new/date_center.png) repeat-x;
	background-size: auto 100%;
}
.sub-title-ml{
/*右框 内容*/
	width:100%;
	min-height:53px;
	background: left url(images/new/date_left.png) no-repeat;
	background-size: auto 100%;
}

.sub-title-mm{
/*中框*/
	width:100%;
	min-height:53px;
	background: right url(images/new/date_right.png) no-repeat;
	background-size: auto 100%;
	text-align:center;
/*	line-height:1; */

 /* WebKit (Safari/Chrome) Only */
 /* -webkit-text-stroke: 1px #474747; */
  
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  
  

}

#subtitlehtml{
	
  padding:7px 50px 28px 50px;
  color: #555;
}

#img_decoration3{
	background: center center url(images/new/date_up.png) no-repeat;	
	position:absolute;
	width: 56px;
	height:50px;
	right: 5px;
	bottom: 10px;
	z-index: 105;
 

}

/*====sub-title End====*/






















/*====按鈕外框 Start====*/

.button{
/*最外框
	background:url(images/btn_bg2.png) left 0px no-repeat;
	*/
}

.button *{
/*最外框
	background:url(images/btn_bg2.png) left 0px no-repeat;
	*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
    outline-color: transparent;
}



/*框內的高度及寬度都會變化*/
.button-tl{
/*左上框*/
}
.button-tm{
/*上框*/
}
.button-tr{
/*右上框*/
}
.button-bl{
/*左下框*/
}
.button-bm{
/*下框*/
}
.button-br{
/*右下框*/
}
.button-ml{
/*左框*/
	width: 100%;
	min-height:45px;
	background:right url(images/new/bar_original_right.png) no-repeat;
	background-size: auto 100%;
}
.ui-state-hover .button-ml{ 
	background:right url(images/new/bar_hover_right.png) no-repeat;
}

.ui-state-active .button-ml{ 
	background:right url(images/new/bar_roller_right.png) no-repeat;
}

.button-mr{
/*右框 内容*/
	width: 100%;
	min-height:45px;
	background:center url(images/new/bar_original_center.png) repeat-x;
	background-size: auto 100%;
}
.ui-state-hover .button-mr{ 
	background:center url(images/new/bar_hover_center.png) repeat-x;
}

.ui-state-active .button-mr{ 
	background:center url(images/new/bar_roller_center.png) repeat-x;
}


.button-mm{
/*中框 */
	width: 100%;
	min-height:45px;
	background: left url(images/new/bar_original_left.png) no-repeat;
	background-size: auto 100%;
}

.ui-state-hover .button-mm{ 
	background: left url(images/new/bar_hover_left.png) no-repeat;
}

.ui-state-active .button-mm{ 
	background: left url(images/new/bar_roller_left.png) no-repeat;
}


.button-mm a{
	width:100%
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	}



.iconimage{
	margin-left: 40px; 
	margin-top: -4px; 
   vertical-align: middle;
}
.button-title{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
	color: #a2622a;
	font-size:20px;
/*	font-weight:bold; */ 
	font-weight: normal;
	line-height:45px;
	padding-left:18px;
	margin-top: -2px; 
}


/*====按鈕外框 End====*/


/*====內容外框 Start====*/

.detail {
/*最外框*/


}


/*框內的高度及寬度都會變化*/
.detail-tl{
/*左上框*/
background: left url(images/new/inter_up_left.png) no-repeat;
height:32px;
	
}
.detail-tm{
/*上框*/
background: right url(images/new/inter_up_right.png) no-repeat;
height:32px;
}
.detail-tr{
/*右上框*/
background: center url(images/new/inter_up_center.png) repeat-x;
height:32px;
}
.detail-bl{
/*左下框*/
background: left url(images/new/inter_bottom_left.png) no-repeat;
height:50px;
}
.detail-bm{
/*下框*/
background: right url(images/new/inter_bottom_right.png) no-repeat;
height:50px;
}
.detail-br{
/*右下框*/
background: center url(images/new/inter_bottom_center.png) repeat-x;
height:50px;
}
.detail-ml{
/*左框*/
/*border:solid #F00 1px;*/
width:auto;
background: left url(images/new/inter_center_left.png) repeat-y;
	height:100%;
}
.detail-mr{
/*右框 内容*/
width:auto;
background: right url(images/new/inter_center_right.png) repeat-y;
	height:100%;
}

.detail-mm p{
/*中框 */
}

.detail-mm {
/*中框 */
	/*color:#ffd4e6;*/
	color:#4e2a06;
	padding:0px 25px 0px 25px;
	line-height:1.3;
	letter-spacing:1px;
	height:100%;
}

#footer{
	background: center url(images/new/bottom_center.png) repeat-x;
	}
#footer #copyright{
	background: left url(images/new/bottom_left.png) no-repeat;
	}
#footer  #copyright  #copyright-text{
	background: right url(images/new/bottom_right.png) no-repeat;
	height: 58px;
	text-align:center;
}

#footer #copyright #copyright-text #copyright-text-content{
	padding-top:15px;
	font-size:12px;
	color:#555;
}
/*====內容外框 End====*/

