.wrapper {
	width:100%;
	overflow:hidden;
}
.padNull {
	padding:0!important;
}
.marNull {
	margin:0!important;
}
._left {
	float:left;
}
._right {
	float:right;
}
.glob {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
}
body {
	font-family:'Trebuchet MS', serif;
	color:#fff;
	line-height:20px;
	min-width:950px;
	min-height:100%;
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	background:url(../images/partBg.jpg) 50% 25% no-repeat;
}
.main {
	margin:0px auto 0 auto;
	width:970px;
	z-index:2;
	height:100%;
}
.page_spinner {
	position:fixed;
	background:#27212c;
	z-index:99;
	width:100%;
	height:100%;
	top:0;
	left:0
}
.page_spinner>span {
	position:absolute;
	left:50%;
	top:50%;
}
a {
	color:#fff;
	text-decoration:none;
	outline:none;
	font-size:14px;
}
a:hover {
	text-decoration:underline
}
h1 {
	float:left;
	position:relative;
}
h2 {
	font-family:'微软雅黑', serif;
	color:#fff;
	font-size:42px;
	line-height:40px;
	width:100%;
	padding-bottom:16px;
	text-align:left;
	font-weight:normal;
	text-transform:uppercase;
}
h3 {
	font-family:'Trebuchet MS', serif;
	color:#e7346f;
	font-size:12px;
	line-height:18px;
	width:100%;
	padding-bottom:4px;
	text-align:left;
	font-weight:normal;
	text-transform:uppercase;
}
p {
	font-size:14px;
	color:#928796;
	line-height:1.3;
	padding-bottom:18px;
	text-align:left;
	text-transform:uppercase;
}
.center {
	padding:0;
	width:100%;
	position:relative;
	display:inline-block;
	height:755px;
}
header {
	position:relative;
	width:450px;
	height:100%;
	z-index:1;
	float:left;
}
.hide_text {
	white-space:nowrap;
	overflow:hidden;
}
#logo {
	display:inline-block;
	background:url(../images/logo.png) 50% 0% no-repeat;
	width:266px;
	height:35px;
	padding:80px 0 0 10px;
	font-size:12px;
	position:relative;
	top:-800px;
}
#logo:hover {
	text-decoration:none;
}
.logoHolder {
	display:inline-block;
	position:relative;
	height:115px;
	width:100%;
	float:left;
	margin-top:56px;
	margin-bottom:34px;
}
.menu {
	position:relative;
	z-index:1;
	display:inline-block;
}
.menuHolder {
	position:relative;
	width:100%;
	z-index:1;
	float:left;
	display:inline-block;
	height:77px;
	margin-top:1px;
}
#menu {
	z-index:1;
	position:relative;
	display:inline-block;
	float:left;
	width:100%;
}
#menu>li {
	position:relative;
	color:white;
	text-align:left;
	display:inline-block;
	float:left;
	height:77px;
	margin-right:1px;
	top:-100px;
}
#menu>li>a {
	display:inline-block;
	position:relative;
	z-index:2;
	overflow:hidden;
	text-transform:uppercase;
	height:77px;
}
#menu>li>a:hover {
	text-decoration:none;
}
#menu ._last {
	padding:0;
	border:none;
}
.submenu_1 {
	position:absolute;
	z-index:1;
	top:66px;
	left:0px;
	display:block;
	width:100%;
}
.submenu_1 li {
	position:relative;
	display:inline-block;
	float:left;
	width:100%;
	height:21px;
	background:#221e29;
}
.submenu_1 a {
	font-family:'微软雅黑', serif;
	line-height:21px;
	color:#fff;
	font-size:10px;
	display:inline-block;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.submenu_1 li>a:hover, .submenu_1 li.sfHover>a {
	text-decoration:none;
	color:#e7346f;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.submenu_1 .first {
	border:none;
	padding-top:21px;
}
.submenu_1 .last {
	border:none;
	padding-bottom:15px;
}
.mText {
	font-family:'微软雅黑', serif;
	line-height:30px;
	color:#fff;
	font-size:18px;
	position:relative;
	z-index:2;
	text-align:center;
	padding:0 8px;
	margin-top:20px;
}
.mText_over {
	font-family:'微软雅黑', serif;
	line-height:20px;
	color:#fff;
	font-size:18px;
	position:absolute;
	width:100%;
	z-index:2;
	text-align:center;
	top:25px;
}
._area {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	z-index:3;
	left:0;
	display:block;
	background:url(../images/pixel.png);
}
._overPl {
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	z-index:0;
	left:0;
	display:block;
}
._overPl img {
	position:absolute;
	width:100%;
	height:100%;
}
#content {
	position:relative;
	z-index:2;
	width:510px;
	margin:0 auto;
	display:block;
	float:left;
	overflow:visible;
	height:100%;
}
#content>ul {
	width:620px;
	z-index:0;
	display:inline-block;
	position:relative;
	overflow:visible;
	height:100%;
}
#content>ul>li {
	width:510px;
	display:block;
	position:absolute;
	height:100%;
}
.box {
	width:440px;
	position:relative;
	display:inline-block;
	background:#201c25;
	height:100%;
	float:right;
}
.space1 {
	display:inline-block;
	width:80px;
	text-align:left;
}
.space2 {
	display:inline-block;
	width:42px;
	text-align:left;
}
.more {
	font-size:12px;
	color:#fff;
	background:url(../images/moreSprite.png);
	line-height:18px;
	font-family:'Trebuchet MS', serif;
	text-transform:uppercase;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.more:hover {
	text-decoration:none;
	color:#e7346f;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
._link1 {
	font-size:10px;
	color:#605969;
	font-family:'微软雅黑', serif;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
._link1:hover {
	color:#e7346f;
	text-decoration:none;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
._link2 {
	color:#fff;
	font-size:10px;
	line-height:15px;
}
.mar1 {
	margin:98px 0px 36px -21px;
}
.marLeft1 {
	margin-left:36px;
}
.marBot1 {
	margin-bottom:20px;
}
.divSet1 {
	padding-bottom:25px;
	margin-bottom:24px;
	border-bottom:1px solid #26222D;
}
.divSet2 {
	padding-bottom:34px;
	margin-bottom:30px;
	border-bottom:1px solid #26222D;
}
.divSet3 {
	padding-bottom:23px;
	margin-bottom:30px;
	border-bottom:1px solid #26222D;
}
.padTop1 {
	padding-top:10px;
}
.contHolder {
	position:relative;
	height:675px;
	z-index:2;
}
._fig1 {
	width:100%;
	display:block;
}
._fig1 img {
	position:relative;
	display:inline-block;
	float:left;
	margin-right:20px;
	border:#26222d 5px solid;
	margin-bottom:10px;
}
._fig1 figcaption {
	width:220px;
	display:inline-block;
	float:left;
	margin-top:11px;
}
._fig1 p {
	padding-bottom:0;
}
._fig2 {
	width:100%;
	display:inline-block;
	position:relative;
}
._fig2 img {
	position:relative;
	display:inline-block;
	float:left;
	margin-bottom:5px;
}
._fig2 figcaption {
	width:330px;
	display:inline-block;
	float:left;
	margin-top:11px;
}
._fig2 p {
	padding-bottom:0;
}
._fig3 {
	width:100%;
	display:inline-block;
}
._fig3 img {
	position:relative;
	display:inline-block;
	float:left;
	margin-right:13px;
}
._fig3 figcaption {
	width:200px;
	display:inline-block;
	float:left;
	margin-top:11px;
}
._fig3 p {
	padding-bottom:0;
}
._list1 {
	display:inline-block;
}
._list1>li {
	position:relative;
	width:100%;
	margin-bottom:5px;
	background:url(../images/marker1.png) 0 50% no-repeat;
	height:20px;
}
._list1>li>a {
	color:#928796;
	font-size:10px;
	text-transform:uppercase;
	line-height:20px;
	margin-left:18px;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
._list1>li>a:hover {
	color:#E7346F;
	text-decoration:none;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.scroll1 {
	width:380px;
	height:410px;
}
.scroll1 ._track {
	width:18px;
	height:410px;
	display:inline-block;
	background:#000;
	top:0px;
	background:#26222d;
	left:362px;
	border-radius:6px;
}
.scroll1 ._shuttle {
	width:18px;
	height:58px;
	background:#e7346f;
	border-radius:6px;
}
.scroll1 ._shuttle:hover {
	background:#fff;
}
.scroll2 {
	width:380px;
	height:450px;
}
.scroll2 ._track {
	width:18px;
	height:500px;
	display:inline-block;
	background:#000;
	top:0px;
	background:#26222d;
	left:362px;
	border-radius:6px;
}
.scroll2 ._shuttle {
	width:18px;
	height:58px;
	background:#e7346f;
	border-radius:6px;
}
.scroll2 ._shuttle:hover {
	background:#fff;
}
.scroll3 {
	width:380px;
	height:235px;
}
.scroll3 ._track {
	width:18px;
	height:235px;
	display:inline-block;
	background:#000;
	top:0px;
	background:#26222d;
	left:362px;
	border-radius:6px;
}
.scroll3 ._shuttle {
	width:18px;
	height:58px;
	background:#e7346f;
	border-radius:6px;
}
.scroll3 ._shuttle:hover {
	background:#fff;
}
.scroll4 {
	width:380px;
	height:120px;
}
.scroll4 ._track {
	width:18px;
	height:120px;
	display:inline-block;
	background:#000;
	top:0px;
	background:#26222d;
	left:362px;
	border-radius:6px;
}
.scroll4 ._shuttle {
	width:18px;
	height:58px;
	background:#e7346f;
	border-radius:6px;
}
.scroll4 ._shuttle:hover {
	background:#fff;
}
.scroll5 {
	width:380px;
	height:585px;
}
.scroll5 ._track {
	width:18px;
	height:585px;
	display:inline-block;
	background:#000;
	top:0px;
	background:#26222d;
	left:362px;
	border-radius:6px;
}
.scroll5 ._shuttle {
	width:18px;
	height:58px;
	background:#e7346f;
	border-radius:6px;
}
.scroll5 ._shuttle:hover {
	background:#fff;
}
._inner {
	display:inline-block;
	position:relative;
}
.slider {
	position:relative;
	width:409px;
	height:337px;
	overflow:hidden;
	z-index:2;
	border:20px solid #e8d9b1;
	display:inline-block;
	float:left;
}
.items {
	display:none;
}
.slider .pic {
	display:inline-block;
	position:absolute;
}
.controls {
	position:relative;
	display:inline-block;
	left:0;
	padding-bottom:34px;
}
#sliderNavs {
	position:relative;
	width:45px;
	z-index:2;
	float:right;
}
#buttonPrev {
	margin:0;
	float:left;
}
#buttonNext {
	margin:0;
	float:right;
}
.logo2 {
	width:420px;
	height:51px;
	position:relative;
	display:inline-block;
	background:url(../images/logo2.png) 0 0 no-repeat;
	padding-top:130px;
	padding-left:10px;
	font-size:16px;
	font-family:'微软雅黑';
	text-decoration:none;
}
.extra1 {
	width:100px;
	height:127px;
	position:relative;
	display:inline-block;
	background:#e7346f;
	float:left;
	margin-right:1px;
}
.extra1>._day {
	font-family:'微软雅黑', serif;
	width:100%;
	color:#fff;
	text-align:center;
	line-height:64px;
	font-size:78px;
	position:relative;
	letter-spacing:-6px;
	display:inline-block;
	margin-top:10px;
}
.extra1>._mounth {
	font-family:'微软雅黑', serif;
	width:100%;
	color:#fff;
	text-align:center;
	line-height:32px;
	font-size:41px;
	text-transform:uppercase;
	display:inline-block;
}
.extra2 {
	height:50px;
	position:relative;
	display:inline-block;
	background:#605969;
	margin-top:77px;
	float:left;
}
.extra2>._year {
	font-family:'微软雅黑', serif;
	width:100%;
	color:#fff;
	text-align:center;
	line-height:50px;
	font-size:42px;
	position:relative;
	letter-spacing:-2px;
	display:inline-block;
}
.extra3 {
	width:32px;
	height:23px;
	float:left;
	display:inline-block;
	background:url(../images/extra1.png) 0 4px no-repeat;
}
.img1 {
	width:100%;
	display:inline-block;
	position:relative;
	bottom:-15px;
}
.menuB {
	width:68px;
	height:77px;
	display:inline-block;
	position:absolute;
	background:url(../images/bg1.png) 0 0 no-repeat;
	z-index:2;
	left:0;
}
.menuB>a {
	width:100%;
	display:inline-block;
	font-family:'微软雅黑', serif;
	line-height:30px;
	color:#fff;
	font-size:18px;
	text-transform:uppercase;
	text-align:center;
	top:20px;
	position:relative;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.menuB>a:hover {
	color:#221e29;
	text-decoration:none;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.footer {
	position:relative;
	width:100%;
	z-index:1;
	height:35px;
	display:inline-block;
	bottom:0;
	float:left;
	text-align:left;
	margin-top:48px;
}
.textPrivacy {
	font-family:'微软雅黑', serif;
	font-size:10px;
	color:#605969;
	position:relative;
	display:inline-block;
	text-transform:uppercase;
	line-height:26px;
}
.privHold {
	position:relative;
	display:inline-block;
	float:left;
	text-align:left;
	margin-right:20px;
}
.followHolder {
	position:relative;
	display:inline-block;
}
.followHolder>ul {
	display:inline-block;
}
.followHolder>ul>li {
	display:inline-block;
	float:left;
	margin:0 3px;
}
.followHolder>ul>li>a {
	display:inline-block;
	position:relative;
}
.google_map {
	width:360px;
	height:395px;
	background:#fff;
	display:inline-block;
	border:10px solid #26222d;
	margin-bottom:19px;
}
.google_map>span {
	position:absolute;
	top:50%;
	left:50%;
}
#form1 {
	padding:0;
}
#form1 .bg {
	padding:0;
	display:inline-block;
	float:left;
	position:relative;
}
#form1 .wrapper {
	overflow:inherit;
	min-height:40px;
}
#form1 .success {
	font-size:10px;
	position:relative;
	float:left;
	color:#fff;
	width:100%;
	line-height:11px;
	padding-bottom:2px;
}
#form1 label {
	position:relative;
	display:inline-block;
	float:left;
	width:100%;
	padding-bottom:8px;
}
#form1 .error, #form1 .empty {
	font-size:10px;
	color:#fff;
	line-height:9px;
	display:none;
	width:100%;
	top:0px;
	position:relative;
	float:left;
	text-align:left;
}
#form1 a {
	position:relative;
	z-index:1;
}
#form1 a:hover {
	text-decoration:none;
}
#form1 .input {
	width:220px;
	padding:7px 10px;
	color:#625B65;
	outline:none;
	font-size:10px;
	font-family:'Trebuchet MS', serif;
	box-shadow:none;
	border:1px solid #26222d;
	background:#1e1b23;
	text-transform:uppercase;
}
#form1 textarea {
	overflow:auto;
	margin:0;
	width:358px;
	height:86px;
	padding:6px 10px;
	color:#625B65;
	resize:none;
	outline:none;
	font-size:10px;
	font-family:'Trebuchet MS', serif;
	box-shadow:none;
	border:1px solid #26222d;
	background:#1e1b23;
	text-transform:uppercase;
}
#form1 .block {
	display:inline-block;
	position:relative;
	width:100%;
	float:left;
}
._field_set {
	position:relative;
	float:left;
}
#form1 .marNone {
	margin:0;
}
.formButtons {
	position:relative;
	float:left;
	display:inline-block;
	margin-top:5px;
}
.formBtn {
	display:inline-block;
	position:relative;
	margin-right:25px;
}
