/* CSS Document */
*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body,ul,ol,li,form{margin:0;padding:0;-webkit-text-size-adjust:none;}
ul,ol{list-style:none}
img{border:0}
a {cursor:pointer;text-decoration:none;}
body{font-family:'Microsoft Yahei','Simsun',Arial;font-size:14px;background-size:100% auto;color:#252525;position:relative;}

body#color_b{background:url('main_bg_b.jpg') repeat-x top fixed;background-size:100% auto}
body#color_c{background:url('main_bg_c.jpg') repeat-y top fixed;background-size:100% auto}

b.tips_12_g,p.tips_12_g{font-size:12px;color:green;text-align:center}
b.tips_12_r,p.tips_12_r{font-size:12px;color:red;text-align:center}
/*pages*/
DIV.pages_m {PADDING:3px;height:26px;overflow:hidden; MARGIN: 3px;TEXT-ALIGN: center;}
DIV.pages_m A,DIV.pages_m span {display:inline-block;background-color:green;border:1px solid #003300;PADDING:2px 5px 2px 5px; MARGIN: 2px;COLOR: #fff;TEXT-DECORATION: none;border-radius:4px;-webkit-border-radius:4px;}
DIV.pages_m a.disabled {background-color:#f3f3f3;color:#b7b5b5;border:1px solid #aaa;}
DIV.pages_m strong{margin:0 5px;color:#252525;font-weight:100}

#rl_container{color:#222;}
/*header*/
#header{ height:50px;overflow:hidden;background-color:#E7CC85;color:#fff;}
#header table{width:100%;height:50px;overflow:hidden}
#header table tr td p{padding-left:6px;color:#fff;line-height:18px}
#header table tr td p span{color:red;font-size:16px}
#header table tr td #logo{min-height:0;max-height:50px;overflow:hidden;padding-left:5px}
#header table tr td #logo img{max-height:50px;overflow:hidden;_height:50px;}
#header table tr th a{margin:0 2px;color:#fff;}

/* Inner Page Common Styles */
.body{padding:10px;min-height:0;overflow:hidden;max-width:480px;margin:0 auto;}

#cover{width:70%;min-height:0;overflow:hidden;min-width:320px;background-color:#fff;margin:0 auto;position:relative;-webkit-box-shadow:0px 0px 6px #ccc;-moz-box-shadow:0px 0px 6px #ccc;}
#cover_img{padding:10px;min-height:0;overflow:hidden;}
#cover_img img{width:100%;overflow:hidden}

.line{padding:5px}
.mtf{background-color:#fff;padding:20px 8px 8px 8px;border-radius:2px;-webkit-border-radius:2px;}
.hr_line_c{height:3px;overflow:hidden;width:100%;border-top:1px dotted #A0A0A0;border-bottom:1px dotted #A0A0A0;margin:15px auto}
.head{height:50px;background:url('invite_bg.gif') repeat-x bottom;}
.head tr td h3{font-weight:bolder;font-size:26px;color:#F63C30;line-height:34px}
body#color_b #index_area .head tr td h3{color:#fff;}
body#color_c #index_area .head tr td h3{color:#fff;}
.head tr td img{width:100%;overflow:hidden;}
.mtf_qj{padding-bottom:40px}
/* Map Styles */
#maparea { width:100%;min-height:0;overflow:hidden}
#maparea img { max-width:100%;}
.hinfo { line-height:30px;padding:20px;text-align:left;}
.infos { text-align:center;font-weight:bolder;font-size:16px;padding:10px 0 30px 0;color:#000;}
.infos img {width:100%;overflow:hidden;}
.infos .text { font-size:18px;color:#F63C2F;}
/* Wedding Photography Styles */
.zps { margin:20px auto 0 auto;width:100%}
.zps img { max-width:100%;display:block;margin:3px 0;}
.td { margin:0 auto;text-align:left;color:#F33D30;}
.etime { color:#F63C30;margin-top:10px;}
.hl { display:block;width:56px;height:74px;overflow:hidden;}
.cqj,.czp,.cdt,.czf { overflow:hidden;background-image:url('sprite.png');background-repeat:no-repeat;}
.cqj { background-position:center top;}
.czp { background-position:center -90px;}
.cdt { background-position:center -175px;}
.czf { background-position:center -265px;}
.cm { display:block;margin-top:14px;height:51px;overflow:hidden;line-height:50px;font-size:26px;font-weight:bolder;color:#fff;text-shadow:1px 1px 1px #222;}
.cmlft {text-align:right;padding-right:14px;border-radius:10px 0 0 10px;}
.cmrgt {text-align:left;padding-left:14px;border-radius:0 10px 10px 0;}
.cqj_lft,.cqj_rgt { background-color:#FF545A;}
.czp_lft,.czp_rgt { background-color:#2BD2FE;}
.cdt_lft,.cdt_rgt { background-color:#A49EE6;}
.czf_lft,.czf_rgt { background-color:#98C841;}
cite { font-style:normal;}

/* Honey Words Styles */
.zf { background:url('rmenu.png') no-repeat -324px center}
.zftit { border-bottom:1px solid #E4BD82; padding:10px 0;font-size:16px;font-weight:bolder;margin:10px 0;color:#333;text-indent:10px;}
.zfinfo { text-align:left;margin:10px auto;}
.szf { font-size:16px;color:#333;}
.szf .name { width:99%; border:1px solid #ddd;background-color:#f7f7f7;}
.szf textarea { width:99%;height:80px; border:1px solid #ddd;background-color:#f7f7f7;}
.submit { border:none;font-size:16px;cursor:pointer;background-color:#F24E4D;color:#fff;font-weight:bolder;padding:5px 30px;}
.msg { background-color:#FFFBF2;border:1px solid #ECE9E0;border-radius:5px;padding:10px;margin-bottom:5px;}
.msg h5 { color:#BF9A63;position:relative;}
.msg h5 cite{font-style:normal;color:#8E6015;}
.msg h5 span { position:absolute;right:0px;color:#8E6015;}
.msg p { color:#666;font-size:12px;font-weight:normal;}
.msg p.rep{border-top:1px solid #BF9A63}
.msg p.rep b{color:#8E6015;}

/* Footer Styles */
#footer{padding-bottom:4px;margin-top:20px;margin-bottom:50px;}
#footer .login_sta{width:100%;height:34px;background-color:#AD6A01}
#footer .login_sta tr td{font-size:12px;color:#fff}
#footer .login_sta tr td a{color:#fff;margin:0 3px}
#footer .login_sta tr td span#to_top{margin-right:4px;cursor:pointer}
#footer p{text-align:center;font-size:12px;line-height:24px;color:#4C4C4E;padding:4px 0;}
#footer p a{color:#4C4C4E;}
#footer a{text-decoration:none;}


#x_menus{width:100%;height:60px;position:fixed;bottom:0;left:0;z-index:2000}
#x_menus table{width:100%;height:100%;overflow:hidden;background:#F63C2F}
#x_menus table tr th{border-top:1px solid #C32C23;border-right:1px solid #C32C23}
#x_menus table tr th.cur{background:#E7CC85;border-top:1px solid #E7CC85;}
#x_menus table tr th a{display:block;width:90%;min-height:0;overflow:hidden;margin:0 auto;padding-top:27px;color:#fff;background:url('menu_icon.png') no-repeat;text-decoration:none;}
#x_menus table tr th.hover a,#x_menus table tr th.cur a{background-image:url('../4/menu_iconz.png');color:red;}
#x_menus table tr th a.sy{background-position:50% 2px;}
#x_menus table tr th a.qj{background-position:50% -58px;}
#x_menus table tr th a.zp{background-position:50% -118px;}
#x_menus table tr th a.dt{background-position:50% -180px;}
#x_menus table tr th a.zf{background-position:50% -238px;}
